*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo {
    padding: 10px 20px;
    vertical-align: middle;
    padding-right: 5px;
    }
#logo-text {
    font-size: 40px;
    vertical-align: middle;
    font-family: sans-serif;
    font-weight: bolder;
    }
header{
    background-color: white;
}
body {
    background: lightgray;
    background-size: cover;
}
.container1 { 
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
     }
.button1 {
    border: 1px solid #47ADF1;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #47ADF1;
    color: white;  
    }
.button2 {
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: white;
    color: grey;
    margin: auto;
    }
.container2 {
    width: 1000px;
    height: auto;
    margin: auto;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 10px;
}
.title {
    
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0;
    margin: auto;
}
.title::before{
    content: '\25BE';
    font-size: 20px;
}
.check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border: 1px solid lightgreen;
    color: lightgreen;
    padding: 0;
}
.uncheck {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    border: 1px solid red;
    color: red;
}
ul {
    list-style-type: none;
}
li{
    font-size: 15px;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.editorial {
    background-color: #47ADF1;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 10px;
}
.goals {
    background-color: #581c44;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 10px;
}
.recluting {
    background-color: #0d7226;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 10px;
}
.mobile {
    background-color: orange;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 10px;
}
.website {
    background-color: #cc8bb6;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 10px;
}
.sales {
    background-color: #0a9b22;
    border-radius: 25px;
    color: white;
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 10px;
}
